html,body {
	width: 100%;
	height: 100%;
	border: 0;
	margin: 0;
	padding: 0;
	overflow: visible;
}

.fontweight {
	font-weight: bold;
}

.asLabel .mini-textbox-border,.asLabel .mini-textbox-input,.asLabel .mini-buttonedit-border,.asLabel .mini-buttonedit-input,.asLabel .mini-textboxlist-border
	{
	border: 0;
	background: none;
	cursor: default;
}

.asLabel .mini-buttonedit-button,.asLabel .mini-textboxlist-close {
	display: none;
}

.asLabel .mini-textboxlist-item {
	padding-right: 8px;
}


/*上传样式*/
.upload-box {
	position: relative;
	display: inline-block;
	height: 32px;
	vertical-align: middle;
	zoom: 1;
	*display: inline;
}

.upload-box .upload-btn {
	display: inline-block;
	height: 32px;
	zoom: 1;
	*display: inline;
}

.upload-box .upload-progress {
	position: absolute;
	top: 0;
	left: 0;
	padding: 2px 5px;
	width: 115px;
	height: 26px;
	border: 1px solid #d7d7d7;
	background: #fff;
	overflow: hidden;
}

.upload-box .upload-progress .txt {
	display: block;
	padding-right: 10px;
	font-weight: normal;
	font-style: normal;
	font-size: 11px;
	line-height: 18px;
	height: 18px;
	text-overflow: ellipsis;
	overflow: hidden;
}

.upload-box .upload-progress .bar {
	position: relative;
	display: block;
	width: 112px;
	height: 4px;
	border: 1px solid #1da76b;
}

.upload-box .upload-progress .bar b {
	display: block;
	width: 0%;
	height: 4px;
	font-weight: normal;
	text-indent: -99em;
	background: #28B779;
	overflow: hidden;
}

.upload-box .upload-progress .close {
	position: absolute;
	display: block;
	top: 1px;
	right: 1px;
	width: 14px;
	height: 14px;
	text-indent: -99em;
	background: url(skin_icons.png) -56px -196px no-repeat;
	cursor: pointer;
	overflow: hidden;
}

/*图片相册样式*/
.photo-list {
	margin: 0;
	padding: 10px 0 0 0;
}

.photo-list ul {
	margin: 0 0 0 -15px;
}

.photo-list ul li {
	float: left;
	margin-left: 15px;
	text-align: center;
	*width: 118px;
}

.photo-list ul li .img-box {
	position: relative;
	margin: 5px auto;
	width: 112px;
	height: 112px;
	border: 3px #efefed solid;
	cursor: pointer;
	overflow: hidden;
}

.photo-list ul li .img-box.selected {
	border: 3px #f60 solid;
}

.photo-list ul li .img-box img {
	width: 100%;
	height: 100%;
	opacity: 1;
}

.photo-list ul li .img-box .remark {
	position: absolute;
	display: block;
	left: 0;
	right: 0;
	bottom: 0;
	margin: 0;
	padding: 3px 2px;
	height: 18px;
	line-height: 18px;
	background: #000;
	filter: alpha(opacity =   50);
	opacity: 0.5;
	-moz-opacity: 0.5;
	text-align: left;
	overflow: hidden;
}

.photo-list ul li .img-box .remark:hover {
	top: 0;
	bottom: 0;
	height: 100%;
}

.photo-list ul li .img-box .remark i {
	position: relative;
	font-size: 12px;
	color: #fff;
	font-style: normal;
	line-height: 18px;
}

.photo-list ul li a {
	padding-right: 1em;
}

/*附件列表样式*/
.attach-list {
	margin: 0;
	padding: 10px 0 0 0;
}

.attach-list ul {
	margin: 0 0 0 -15px;
	list-style: none;
}

.attach-list ul:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

.attach-list ul li {
	position: relative;
	float: left;
	margin: 0 0 15px 15px;
	padding: 5px 18px 8px 18px;
	border: 1px solid #eee;
	box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.1);
	width: 215px;
}

.attach-list ul li .icon {
	position: absolute;
	display: block;
	top: 8px;
	left: 2px;
	width: 14px;
	height: 14px;
	text-indent: -999em;
	background: url(skin_icons.png) no-repeat -84px -140px;
	overflow: hidden;
}

.attach-list ul li .del {
	position: absolute;
	display: block;
	top: 0;
	right: 0;
	width: 20px;
	height: 20px;
	text-indent: -99em;
	background: url(skin_icons.png) no-repeat -53px -193px;
	cursor: pointer;
	overflow: hidden;
}

.attach-list ul li .edit {
	position: absolute;
	display: block;
	bottom: 6px;
	right: 5px;
	width: 20px;
	height: 20px;
	text-indent: -99em;
	background: url(skin_icons.png) -137px -81px no-repeat;
	cursor: pointer;
	overflow: hidden;
}

.attach-list ul li .title {
	display: block;
	margin-bottom: 3px;
	border-bottom: 1px solid #ccc;
	line-height: 24px;
	height: 26px;
	font-weight: bold;
	white-space: nowrap;
	word-break: break-all;
	overflow: hidden;
}

.attach-list ul li .info,.attach-list ul li .btns {
	display: block;
	line-height: 24px;
}

.attach-list ul li .btns input {
	display: inline-block;
	padding: 0 3px;
	border: 1px solid #d7d7d7;
	width: 40px;
	height: 20px;
	line-height: 18px;
	color: #666;
	font-size: 12px;
	background: #fff;
	vertical-align: middle;
}

/*=====================以下部分是WebUploader必须的====================*/
.webuploader-container {
	position: relative;
}
.webuploader-element-invisible {
	position: absolute !important;
	clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
    clip: rect(1px,1px,1px,1px);
}
.webuploader-pick {
	position: relative;
    display: inline-block;
    width: 65px;
    line-height: 24px;
    height: 24px;
    border: 1px solid #e1e1e1;
    cursor: pointer;
    background: #fff;
    color: #333;
    text-align: center;
    overflow: hidden;
    zoom: 1;
}
.webuploader-pick-hover {
	background: #fff;
}

.webuploader-pick-disable {
	opacity: 0.6;
	pointer-events:none;
}
/*=====================以上部分是WebUploader必须的====================*/