<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mes.system.dao.MenuMapper">

	<!-- 查询字段与DTO映射 -->
	<resultMap id="menuDTO" type="com.mes.system.dto.MenuDTO">
						<result column="ID" property="id"
			javaType="java.lang.Long" />
								<result column="CODE" property="code"
			javaType="java.lang.String" />
								<result column="PARENT_ID" property="parentId"
			javaType="java.lang.Long" />
								<result column="NAME" property="name"
			javaType="java.lang.String" />
								<result column="ICON_NAME" property="iconName"
			javaType="java.lang.String" />
								<result column="LINK" property="link"
			javaType="java.lang.String" />
								<result column="SORT" property="sort"
			javaType="java.lang.Long" />
								<result column="IS_DEL" property="isDel"
			javaType="java.lang.Long" />
								<result column="CREATE_TIME" property="createTime"
			javaType="java.util.Date" />
								<result column="CREATE_BY" property="createBy"
			javaType="java.lang.Long" />
								<result column="CREATE_NAME" property="createName"
			javaType="java.lang.String" />
								<result column="UPDATE_TIME" property="updateTime"
			javaType="java.util.Date" />
								<result column="UPDATE_BY" property="updateBy"
			javaType="java.lang.Long" />
								<result column="UPDATE_NAME" property="updateName"
			javaType="java.lang.String" />
					</resultMap>
	<!-- 通用查询列 -->
	<sql id="search_column_common">
		ID,CODE,PARENT_ID,NAME,ICON_NAME,LINK,SORT,IS_DEL,CREATE_TIME,CREATE_BY,CREATE_NAME,UPDATE_TIME,UPDATE_BY,UPDATE_NAME		
	</sql>

	<!-- 通用查询条件 -->
	<sql id="search_conditon_common">
						<if test=" id!=null ">
			AND ID=#{id}
		</if>
		
						<if test=" code!=null and code!='' ">
			AND CODE=#{code}
		</if>
		
						<if test=" parentId!=null ">
			AND PARENT_ID=#{parentId}
		</if>
		
						<if test=" name!=null and name!='' ">
			AND NAME=#{name}
		</if>
		
						<if test=" iconName!=null and iconName!='' ">
			AND ICON_NAME=#{iconName}
		</if>
		
						<if test=" link!=null and link!='' ">
			AND LINK=#{link}
		</if>
		
						<if test=" sort!=null ">
			AND SORT=#{sort}
		</if>
		
						<if test=" isDel!=null ">
			AND IS_DEL=#{isDel}
		</if>
		
						<if test=" createTime!=null ">
			AND CREATE_TIME=#{createTime}
		</if>
		
						<if test=" createBy!=null ">
			AND CREATE_BY=#{createBy}
		</if>
		
						<if test=" createName!=null and createName!='' ">
			AND CREATE_NAME=#{createName}
		</if>
		
						<if test=" updateTime!=null ">
			AND UPDATE_TIME=#{updateTime}
		</if>
		
						<if test=" updateBy!=null ">
			AND UPDATE_BY=#{updateBy}
		</if>
		
						<if test=" updateName!=null and updateName!='' ">
			AND UPDATE_NAME=#{updateName}
		</if>
		
			</sql>


	<select id="getMenuList" resultMap="menuDTO"
		parameterType="java.util.Map">
		SELECT
		<include refid="search_column_common" />
		FROM t_sys_menu
		<where>
			<include refid="search_conditon_common" />
		</where>
		<choose>
	        <when test="sortField !=null and sortField != '' and sortOrder!=null and sortOrder != '' ">
	           ORDER BY ${sortField}  ${sortOrder}
	        </when>
	        <otherwise>
	           ORDER BY ID DESC
	        </otherwise>
   		 </choose>
	</select>
	<select id="getMenuCount" parameterType="java.util.Map"
		resultType="java.lang.Long">
		SELECT COUNT(1) FROM t_sys_menu
		<where>
			<include refid="search_conditon_common" />
		</where>
	</select>
	<insert id="saveMenu" parameterType="com.mes.system.dto.MenuDTO"
		useGeneratedKeys="true" keyProperty="id">
		INSERT INTO t_sys_menu(
		<trim suffixOverrides=",">
																		<if test=" code!=null and code!='' ">
				CODE,
			</if>
			
															<if test=" parentId!=null">
				PARENT_ID,
			</if>
			
															<if test=" name!=null and name!='' ">
				NAME,
			</if>
			
															<if test=" iconName!=null and iconName!='' ">
				ICON_NAME,
			</if>
			
															<if test=" link!=null and link!='' ">
				LINK,
			</if>
			
															<if test=" sort!=null">
				SORT,
			</if>
			
															<if test=" isDel!=null">
				IS_DEL,
			</if>
			
															<if test=" createTime!=null">
				CREATE_TIME,
			</if>
			
															<if test=" createBy!=null">
				CREATE_BY,
			</if>
			
															<if test=" createName!=null and createName!='' ">
				CREATE_NAME,
			</if>
			
															<if test=" updateTime!=null">
				UPDATE_TIME,
			</if>
			
															<if test=" updateBy!=null">
				UPDATE_BY,
			</if>
			
															<if test=" updateName!=null and updateName!='' ">
				UPDATE_NAME,
			</if>
			
								</trim>
		)
		VALUES
		(
		<trim suffixOverrides=",">
																		<if test=" code!=null and code!='' ">
				#{code},
			</if>
			
															<if test=" parentId!=null ">
				#{parentId},
			</if>
			
															<if test=" name!=null and name!='' ">
				#{name},
			</if>
			
															<if test=" iconName!=null and iconName!='' ">
				#{iconName},
			</if>
			
															<if test=" link!=null and link!='' ">
				#{link},
			</if>
			
															<if test=" sort!=null ">
				#{sort},
			</if>
			
															<if test=" isDel!=null ">
				#{isDel},
			</if>
			
															<if test=" createTime!=null ">
				#{createTime},
			</if>
			
															<if test=" createBy!=null ">
				#{createBy},
			</if>
			
															<if test=" createName!=null and createName!='' ">
				#{createName},
			</if>
			
															<if test=" updateTime!=null ">
				#{updateTime},
			</if>
			
															<if test=" updateBy!=null ">
				#{updateBy},
			</if>
			
															<if test=" updateName!=null and updateName!='' ">
				#{updateName},
			</if>
			
								</trim>
		)
	</insert>

	<delete id="deleteMenuById" parameterType="java.lang.Long">
		DELETE FROM
		t_sys_menu WHERE ID=#{id}
	</delete>
	<update id="updateMenu" parameterType="com.mes.system.dto.MenuDTO">
		UPDATE t_sys_menu
		<trim prefix="set" suffixOverrides=",">
																		<if test=" code!=null and code!='' ">
				CODE= #{code},
			</if>
																		<if test=" parentId!=null ">
				PARENT_ID= #{parentId},
			</if>
																		<if test=" name!=null and name!='' ">
				NAME= #{name},
			</if>
																		<if test=" iconName!=null and iconName!='' ">
				ICON_NAME= #{iconName},
			</if>
																		<if test=" link!=null and link!='' ">
				LINK= #{link},
			</if>
																		<if test=" sort!=null ">
				SORT= #{sort},
			</if>
																		<if test=" isDel!=null ">
				IS_DEL= #{isDel},
			</if>
																		<if test=" createTime!=null ">
				CREATE_TIME= #{createTime},
			</if>
																		<if test=" createBy!=null ">
				CREATE_BY= #{createBy},
			</if>
																		<if test=" createName!=null and createName!='' ">
				CREATE_NAME= #{createName},
			</if>
																		<if test=" updateTime!=null ">
				UPDATE_TIME= #{updateTime},
			</if>
																		<if test=" updateBy!=null ">
				UPDATE_BY= #{updateBy},
			</if>
																		<if test=" updateName!=null and updateName!='' ">
				UPDATE_NAME= #{updateName},
			</if>
											</trim>
		WHERE ID = #{id}
	</update>
	<select id="getMenuById" resultMap="menuDTO"
		parameterType="java.lang.Long">
		SELECT
		<include refid="search_column_common" />
		FROM t_sys_menu
		WHERE ID = #{id}
	</select>
	<insert id="batchSaveMenu" useGeneratedKeys="true"
		parameterType="java.util.List">
		<selectKey resultType="long" keyProperty="id" order="AFTER">
			SELECT
			LAST_INSERT_ID()
		</selectKey>
		INSERT INTO t_sys_menu (
		<trim suffixOverrides=",">
																CODE,
													PARENT_ID,
													NAME,
													ICON_NAME,
													LINK,
													SORT,
													IS_DEL,
													CREATE_TIME,
													CREATE_BY,
													CREATE_NAME,
													UPDATE_TIME,
													UPDATE_BY,
													UPDATE_NAME,
								</trim>
		)
		VALUES
		<foreach collection="list" item="item" index="index"
			separator=",">
			(
			<trim suffixOverrides=",">
																					#{item.code},
																	#{item.parentId},
																	#{item.name},
																	#{item.iconName},
																	#{item.link},
																	#{item.sort},
																	#{item.isDel},
																	#{item.createTime},
																	#{item.createBy},
																	#{item.createName},
																	#{item.updateTime},
																	#{item.updateBy},
																	#{item.updateName},
											</trim>
			)
		</foreach>
	</insert>

</mapper>