<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD SQL MAP Config 3.1//EN"
    "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
  <settings>
     <!-- 配置当resultType="java.util.map"时，如果查询数据位空，返回null -->
    <setting name="callSettersOnNulls" value="true"/>
    <setting name="logPrefix" value="dao."/>
  </settings>
</configuration>
